<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="edit.css">
    
</head>
<body>
    <div class="profile">
    <h2>Profile</h2>
    <hr>
</div>
    
      <div class="Profile">
        <h3 style="padding-bottom: 20px; padding-left: 30px;">Photo</h3>
        <style>
            img {
              border-radius: 100%;
            }
            </style>
            <img src="A.png"  width="120" height="120">
        </div>
        
        <div class="Change">
            <a class="btn button"><h4 style="padding-left: 25px; padding-top: 15px; padding-right: 25px; padding-bottom: 15px; border-radius: 0.5rem;">Change Profile</h4></a>
        </div>  
        
        <div class="Discard">
            <a class="btn button"><h4 style="padding-left: 45px; padding-top: 20px;">Discard</h4></a>
        </div>
        
        <div class="Personal">Personal Details<hr style="width: 80%;"></div>

        <div class="grid-container">
        <div class="grid-item">Name
        <p></p>
        <textarea id="Nama" name="Nama" rows="2" cols="50"></textarea></div>

        <div class="grid-item">Email
        <p></p>
        <textarea id="Email" name="Email" rows="2" cols="50"></textarea></div>

        <div class="grid-item">Phone
        <p></p>
        <textarea id="Phone" name="Phone" rows="2" cols="50"></textarea></div>    
        
        <div class="grid-item">Alamat    
        <p></p>
        <textarea id="Alamat" name="Alamat" rows="2" cols="50"></textarea></div>   
               
        
        </div>


    <div class="Save">
    <a class="btn button"><h4 style="width: 150px; height: 50px;">Save Changes</h4></a>
    </div>



</body>
</html>